@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --main-color: #ff6700;
    --text-color: #7A7A7A;
    --dark-color: #303442;
    --border-gray-color: #e7e7e7;
}

html { font-size: 62.5%; } /* =10px */
body {
    font-size: 1.6rem; /* =14px */
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    line-height: 2.7rem;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    color: #333;
    cursor: pointer;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.h1, .h2, .h3, .h4, .h5, .h6{
    margin-bottom: 1.8rem;
    color: #111;
    font-weight: 700;
}
input[type='text'],
input[type='tel'],
input[type='number'],
input[type='email'],
input[type='password'],
select,
textarea {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.select-options {
    display: inline-flex;
    position: relative;
}
.select-options::after {
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    content: '';
    height: 5px;
    position: absolute;
    transform: rotate(45deg);
    top: 1.5rem;
    right: 1.5rem;
    width: 5px;
    z-index: 2;
}
button, .btn {
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    appearance: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.collapse:not(.show) {
    display: none;
}
